
body {
    padding: 14px;
}

svg {
    width: 7em;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

.card p {
    font-size: 1em;
    line-height: 1.3;
    color: #309D67;
}

a {
    background: #309D67;
    padding: 2px;
    margin-top: auto;
    color: white
}

